.nav-bar {
	height: 115px !important;
	max-height: 115px !important;
	line-height: 115px !important;

	.logo {
		max-height: initial !important;
		width: 100% !important;
		height: auto !important;
		max-width: 180px !important; 
	}
}
  

#app-container {

	#blaze-banner {
		background: #337ab7;
	}

	form .panel-footer {
		text-align: center; 
	}

}

.main-container {

	.intro {
		margin-left: 16.66%;
		text-align: center;
	}
}
.home-page img.img-issuing-form {
	border: none !important;
}

