.home-page section{margin:0}.home-page .cust-color{color:#fff!important}.home-page .cust-color:hover{color:#222!important}section.w9s div.container:first-child{left:0}.home-page img.img-issuing-form{border:2px solid #33a8ba;margin-top:11px}.mt-40{margin-top:40px}.home-page .mp{font-size:small;font-weight:bold}a,a:visited{color:#337ab7!important}body{padding:0}.social-list li a{color:#fff!important}section.light{background:#eee}.module.right a.btn:hover{color:#fff!important}.background-image-holder.fadeIn:before{content:' ';background:#00000070;position:absolute;width:100%;height:100%}.image-bg .btn.btn-filled,.image-bg .btn-filled:visited{border-color:#337ab7}.btn-filled{background:#337ab7}.btn{border:2px solid #337ab7}.btn:hover{background:#337ab7}.menu li a{opacity:.7;font-size:12px}h3{font-weight:500;color:#4f91c3}section.blue-section{background:#337ab7}.blue-section h3{color:#fff}.blue-section p{color:#eee}.image-div{height:68px;width:90px;text-align:center;position:relative;right:-23px}#blaze-banner a.company-link{overflow:initial}#blaze-banner .wrap a.back-link{top:21px;z-index:1}#blaze-banner #search-form{margin-top:29px}#main-view-content{padding-top:20px;padding-bottom:40px;min-height:336px}div.sidebar div.btn-group-shift-lg{margin-bottom:0}#main-view-content .btn{line-height:35px;min-width:auto;height:36px;color:#337ab7;background-color:#fff}#main-view-content .btn:hover{color:#fff!important;background-color:#337ab7}#blaze-banner h1{font-size:38px}.btn-primary{color:#fff}.modal-header .modal-title{color:#fff}.modal-footer .btn-send-requests{position:relative;top:-11px}#blaze-q{padding:19px}span.input-group-addon.clear-button{padding:19px}#main-view-content .btn-primary{color:#fff}#companyform .panel-footer{padding:0}#companyform .panel-footer button.btn-save{position:relative;right:-17px;top:11px}.stripe-button-el{display:block!important}button.mark-all-toggle{border:0}table.DeletableTable button.mark-all-toggle:hover{background-color:#fff!important}table button.mark-all-toggle:focus{outline:none!important}table th.table-delete-mode{text-align:center}.panel-bg-green{color:#fff!important;background-color:#8dc63f!important;border-color:#8dc63f!important}.panel-brdr-green{border-color:#8dc63f78!important}.section-p-0{padding:0!important}.m-h-492{min-height:492px!important}.v-align-transform{position:absolute!important;left:50%}.abs-center{position:relative!important;left:-50%}.home-page .overlay:before{opacity:.6!important}
#main-view-content .btn-hot {
    line-height: 30px !important;
    min-width: auto;
    height: 36px !important;
    color: #337ab7;
    background-color: #fff;
}
@media only screen and (max-width: 1270px) {
.menu li a {
     font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0px;
    color: #292929;
    opacity: .7;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    max-width: 100%;
    white-space: normal;
}
}
@media only screen and (max-width: 1350px)
{
body {
    padding-top: 0px !important;
}
.nav-bar .module {
    padding: 5px;
}
}
@media only screen and (max-width: 990px)
{
.nav-bar img {
	margin-top: 20px;
}
.module.widget-handle {
    border: 1px solid #ccc !important;
    line-height: 40px;
    min-height: 40px;
    padding: 9px !important;
}
}
.btn-red-bg {
    color: #ffffff !important;
    background: #e50000 !important;
    border: 1px solid #e50000 !important;
    border-radius: 0px !important;
}
.btn-red-bg:hover {
    color: #ffffff !important;
    background: #cc0000 !important;
    border: 1px solid #cc0000 !important;
    border-radius: 0px !important;
}
.btn-green-bg {
    color: #ffffff !important;
    background: #2CA65B !important;
    border: 1px solid #2CA65B !important;
    border-radius: 0px !important;
}
.btn-green-bg:hover {
    color: #ffffff !important;
    background: #2E8B57 !important;
    border: 1px solid #2E8B57 !important;
    border-radius: 0px !important;
}

.feature-3 {
    min-height: 50px !important;
}
.feature-3 .left {
    width: 5% !important;
}
.feature-3 .right {
    width: 95% !important;
}
.feature-3 i {
    color: #0098D7 !important;
}
a.wfp-btn {
    color: #ffffff !important;
}
.wfp-btn {
    background: #25a9bd !important;
    color: #ffffff !important;
    border-radius: 2px;
    border: #25a9bd !important;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 1px!important;
    padding: 17px 40px !important;
    line-height: 21px !important;
    font-size: 18px !important;
    text-transform: uppercase;
}
.wfp-btn:hover {
    background: #ff8d61 !important;
    color: #ffffff !important;
    border-radius: 2px;
    border: ##ff8d61 !important;
}
.wfp-btn-black {
    background: #000000 !important;
    color: #ffffff !important;
    border-radius: 2px;
    border: #000000 !important;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 1px!important;
    padding: 17px 40px !important;
    line-height: 21px !important;
    font-size: 18px !important;
    text-transform: uppercase;
}
.wfp-btn-black:hover {
    background: #ff8d61 !important;
    color: #ffffff !important;
    border-radius: 2px;
    border: #ff8d61 !important;
}
.wfp-btn-black:active {
    background: #000000 !important;
    color: #ffffff !important;
    border-radius: 2px;
    border: #000000 !important;
}
.wfp-btn-black:visited {
    background: #000000 !important;
    color: #ffffff !important;
    border-radius: 2px;
    border: #000000 !important;
}
.header-block {
    z-index: 99999 !important;
    margin-top: 40px !important;
    margin-bottom: 25px !important;
}
.header-text {
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-family: "Roboto Slab" !important;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: 0px;
    font-style: normal;
}
.grey-bg {
    background-color: #e1e1e1;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin: 0px !important;
}
.print-mail-block {
    text-align: center !important;
}
.print-mail-block h3 {
    color: #747474 !important;
    font-family: "Roboto Slab" !important;
    text-align: center !important;
    font-size: 30px !important;
    font-weight: 400 !important;
}
.print-mail-block h4{
    color: #000000;
    font-family: "Roboto Slab" !important;
    font-weight: 900 !important;
}
.print-mail-block h5{
    color: #000000;
    font-family: "Roboto Slab" !important;
    font-weight: 900 !important;
}
.print-mail-block p{
    color: #707070;
}
.btn-black {
    background: #000000 !important;
    border-radius: 2px !important;
    border: 1px solid #000000 !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 900 !important;
}
 .pt65 {
    padding-top: 65px;
    padding-bottom: 20px;
 }
 .blue-heading h1{
    text-align: center !important;
    color: #25a9bd !important;
    font-family: "Roboto Slab" !important;
    font-weight: 700 !important;
    line-height: 1.29 !important;
    letter-spacing: 0px !important;
    font-style: normal !important;
 }
 .blue-heading h2{
    text-align: center !important;
    color: #25a9bd !important;
    font-family: "Roboto Slab" !important;
    font-weight: 700 !important;
    line-height: 1.29 !important;
    letter-spacing: 0px !important;
    font-style: normal !important;
 }
 .subscribe-box {
    background: #f2f2f2 !important;
    padding: 65px !important;
    color: #333333 !important;
 }
 .subscribe-box .email{
    color:#333333 !important;
    width: 50% !important;
    height: 50px;
     background: #ffffff !important;
     border: 1px solid #e2e2e2 !important;
 }
 .subscribe-box input::placeholder {
    color: #cccccc !important;
 }
 .subscribe-box h4 {
    font-family: sans-serif !important;;
    font-size: 30px !important;;
    line-height: 48px !important;;
    font-weight: 500 !important;;
 }
.help-block-home {
    padding-top: 35px !important;
    padding-bottom: 45px !important;
 }
.help-block-home h5{
    font-family: "Fira Sans", Arial, Helvetica, sans-serif !important;
    color: #000000;
    font-weight: 900 !important;
    letter-spacing: 0px !important;
}
.testomonial-block {
    background-color: #f2f2f2 !important;
    /*padding: 107px !important;*/
}
.testomonial-block p {
    font-size: 18px !important;
}
.testomonial-block p span {
    color: #333333 !important;
    font-size: 18px !important;
}
.testomonial-block h5{
    /*font-size: 30px !important;*/
    color: #747474 !important;
    line-height: 48px !important;
    text-align: center !important;
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 3px !important;
    font-style: normal !important;
}
.testomonial-block h6{
    color: #747474 !important;
    font-size: 30px !important;
    line-height: 48px !important;
    font-weight: 300 !important;
    text-align: center !important;
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
    font-style: normal !important;
}
.how-east-block {
    padding: 10px !important;
}
.post-block {
    padding: 15px !important;
}
.post-block h5 {
    font-size: 18px !important;
}
.feature-block h5 {
    font-family: sans-serif !important;
    font-weight: 900 !important;
    letter-spacing: 2px !important;
}
.feature-block h2 {
    font-size: 35px !important;
    line-height: 48px !important;
    font-weight: 300 !important;
    font-family: "Roboto Slab" !important;
    font-weight: 900 !important;
    letter-spacing: 0px !important;
    font-style: normal !important;
}
.header-block-container {
        height: auto !important;
}
.header-block-container h4{
    color: #fff;
    font-family: "Roboto Slab" !important;
    font-weight: 900 !important;
    margin-bottom: 45px !important;
}
.background-image-holder {
    background-position: 100%!important;
}
.feature-block-title{
    font-size: 50px !important;
    line-height: 70px !important;
    font-weight: 300 !important;
    font-family: "Roboto Slab" !important;
    font-weight: 900 !important;
    letter-spacing: 0px !important;
    font-style: normal !important;
    color: #00A8BA !important;
}
.feature-block-hr {
    border: 0 !important;
    border-top: 2px solid #ff8d61 !important;
    width: 8% !important;
    margin: auto !important;
    margin-bottom: 30px !important;
    }
nav.fixed.scrolled {
    visibility: visible !important;
    opacity: 1 !important;
    color: #ffffff !important;
    background-color: rgba(37,169,189,0.97) !important;
}
nav.fixed.scrolled .nav-bar a {
    color: #ffffff !important;
    font-weight: 900 !important;
}
 
@media (min-width: 768px){
.modal-dialog .checkbox-model {
    width: 650px !important;
    margin: 30px auto;
 }
}
@media screen and (min-width: 1325px) {
  .VerdanaSmall {
    background-size: 890px 670px !important;
    font-family: Verdana;
    font-size: x-small;
}
}