@media only screen and (max-width:1366px) {
    .empDetails text { max-width: 231px; }
    .dashTable thead th { padding: 6px 8px !important; }
    .dashTable tr td { padding: 6px 8px !important; }
    
    footer { padding: 45px 15px !important; }
    .dropdown-content a { padding: 5px 10px; font-size: 13px; }
}

@media only screen and (max-width:1024px) {
    .applyRtn label { margin-left: 0px; display: block; }
    .form941Head .topLeft941 { font-size: 18px; }
    .form941Head .topLeft941 text { font-size: 25px; }
    .table941Top tr td:first-child { width: 203px; }
    .table941Top td { line-height: 10px; }
    .topRight941 { margin-top: 0px; }
    .calc941 { font-weight: 600; min-width: 72px; text-align: center; }
    .addBox { margin-right: 10px; width: 100%; }

    .menuBar { margin: 20px 0px 0 0; }
    .maxSpeace { height: 20px; }
    .afterT { padding: 10px; }
    .menuBar li a { margin: 0; padding: 3px 10px 5px; }
    .useAcc { width: 230px; }
    .acc-icon { display: inherit; position: relative; left: 0; top: 0; margin: 0 auto; }
    .acc-content { display: block; padding-left: 0; float: left; }
    .acc-content p:last-child { margin-bottom: 0; }
    .disFlex1024N { display: block; }
    .formRightHalf { display: none; }
    .formRightHalfTab { float: right; display: block; border-right: 1px solid #f00; border-top: 1px solid #f00; min-height: 641px; }
    .borderL1024 { border-left: 1px solid #f00; }
    .borderR1024 { border-right: 1px solid #f00; }
    .borderB1024 { border-bottom: 1px solid #f00; }
    .borderT1024 { border-top: 1px solid #f00; }
    .borderL1024N { border-left: none; }
    .borderR1024N { border-right: none; }
    .borderB1024N { border-bottom: none; }
    .borderT1024N { border-top: none; }
    .rightBottomPart { min-height: 100px; }
    .multipleL { width: 100%; }
    .multipleR { width: 100%; }
    .rIcon-md { display: inline-block; margin-bottom: 5px; }
    .notify { font-size: 1.4em; }
}

@media only screen and (max-width:980px) {
    .signImg { width: 70px; }
    .sign941 textarea { width: 200px; border-color: #000; }
    .sign941 h2 { font-size: 17px; padding: 0; }
    .partTitle { font-size: 15px; }
    .partTitle span { padding: 4px 5px; margin-right: 5px; font-size: 15px; }
    .empPinFlex941 { display: block; }
    .check941 { min-width: 120px; }
    .upgradeBtn { margin-top: 0px; margin-bottom: 10px; }
    .containerApp { margin: 0 10px; }
    .downAll a { left: 30%; }
    .empDetails { display: block; margin-bottom: 10px; }
    .optionBtnGroupBody { min-height: initial; margin-bottom: 10px; }
    .adjBtn { margin-bottom: 10px; }
    .empDetails text { max-width: 500px; }
    body { padding-top: 100px; }
    .fullBorder2 { display: block; }
    .disFlex980N { display: block; }
    .stateBox { width: 100%; }
    .formLeftHalf { border-right: none; float: left; width: 100%; }
    .formRightHalfTab { border-left: 1px solid #f00; min-height: 100px; }
    .mis_income h4 { margin: 10px 0; font-size: 25px; color: #f00; line-height: 25px !important; text-align: right; }
    .borderL980 { border-left: 1px solid #f00; }
    .borderR980 { border-right: 1px solid #f00; }
    .borderB980 { border-bottom: 1px solid #f00; }
    .borderT980 { border-top: 1px solid #f00; }
    .borderL980N { border-left: none; }
    .borderR980N { border-right: none; }
    .borderB980N { border-bottom: none; }
    .borderT980N { border-top: none; }
    .notify { font-size: 1.3em; }
}

@media only screen and (max-width:800px) {
    .einTbox input[type="text"] { margin-left: 8px; }
    .sNubmerTd { display: none !important; }
    .lastTd941part { min-width: 205px; }
    .addBox:first-child { min-width: 150px; }
    .addBox:last-child { min-width: 150px; margin-right: 0px; }
    .addBox1:first-child { min-width: 150px; }
    .addBox1:last-child { min-width: 130px; margin-right: 0px; }

    .footpart941 td:first-child { max-width: 400px; }
    .footpart941 td { vertical-align: top; }
    .containerApp { margin: 0 10px; }
    .navMenu { float: right; }
    .topMenuDiv { float: right; max-width: 580px; }
    .menuBar { margin: 5px 0px 0 0; }
    body { padding-top: 125px; }
    .leftF { width: 100%; }
    .RightF { text-align: left; width: 100%; }


    /************No More Tables**********/
    #no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr { display: block; }
    #no-more-tables thead tr { position: absolute; top: -9999px; left: -9999px; }
    #no-more-tables tr { border: 1px solid #ccc; }
    #no-more-tables td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50% !important; white-space: normal !important; text-align: left !important; font-size: 13px; }
    #no-more-tables td:before { position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap; text-align: left; font-weight: 600; }
    #no-more-tables td:before { content: attr(data-title); }
    /************No More Tables**********/
}

@media only screen and (max-width:690px) {
    .disBlock640_td { width: 100%; }
    .disBlock640_td td { display: block; text-align: left !important; }
    .nameSelect, .payerSelect, .nameList { width: 100%; }
    .payerInfo h3 { margin: 20px 0 0 0; }
    .signTable td { text-align: left !important; }
    .signImg { display: none; }
    .sign941 textarea { height: 90px; width: 100%; border-color: #000; }
    .subTable td { text-align: left !important; }
    .designeeflex941 { display: block; }
    .designeeflex941 input[type="text"] { margin-bottom: 10px; }
    .partTitle { padding: 5px; border-right: 1px solid #000; background: #000; color: #fff; }
    .partTitle span { padding: 0; margin-right: 5px; font-size: 15px; }
    .check941 { text-align: left; }
    .table941Top td { line-height: 16px; display: block; }
    .empDetails941 { border: 1px solid #000; padding: 5px; }

    .partTable941 td { display: block; }
    .partTable941 td label { font-size: 14px; line-height: 19px; font-weight: 600; }
    .footpart941 td { vertical-align: top; display: block; }
    .partTable941 td:last-child { padding-top: 0; }
    .partTable941 td:first-child { padding-bottom: 0; }
    .partTable941 input[type="text"] { width: 100%; }
    .calc941 { padding: 0 5px !important; text-align: left; }
    .QDetails941 { padding: 8px; }
    .QDetails941 h2 { padding: 10px; font-size: 16px; }
    .QDetails941 span { font-size: 14px; }
    .signleQ label { font-size: 15px; }

    .empFlex941 { display: block; margin-bottom: 15px; }
    .einTbox input[type="text"] { margin-left: 2px; max-width: 29px; }
    .einTbox input[type="text"]:first-child { margin-left: 0px; }
    .einSep { font-size: 30px; width: 14px; text-align: center; }
    .empTbox { margin-left: 0; }
    .empFlex941 { display: block; margin-bottom: 0px; }
    .empAddFlex { display: block; }
    .addBox:first-child, .addBox1:first-child { min-width: 100%; }
    .addBox, .addBox1 { margin-right: 0; text-align: left !important; }
    .addBox p, .addBox1 p { text-align: left !important; }
    .btnSecond { font-size: 14px; }
    .floatBtn { display: block; position: fixed; bottom: 0; width: 100%; margin: 0 -15px; text-align: center; background: #fff; border-top: 1px solid #ccc; padding: 5px 10px; z-index: 100; }
    .radioSelect { margin-left: 0; display: block; margin: 5px 0; }
    .modal-footer { padding: 5px; }
    .modal-footer.centerFoot-xs { text-align: center; }
    .modal-footer.centerFoot-xs button, .modal-footer.centerFoot-xs a { float: none !important; }
    .modal-footer button:first-child, .modal-footer a:first-child { margin-bottom: 10px !important; }
    .optionBoxL h2 span { font-size: 18px !important; }
    .formLeftHalf { border-bottom: 1px solid #f00; }
    .mobFull { font-size: 17px; float: left; width: 100%; }
    .modal-title { font-size: 15px; line-height: 20px; }
    .LinkBlue { text-decoration: underline; color: #0000FF; font-size: 13px; }
    .padDiv { padding: 0; }
    .formHeading { font-size: 17px; margin-top: 0px !important; }
    .optionBoxL h2 { font-size: 17px; letter-spacing: -0.5px; text-align: left; }
    .xsHide { display: none !important; }
    .accRight { width: initial; float: right; padding: 10px 15px; max-width: 230px; }
    .contactForm { padding: 5px; }
    .contact_h3 { font-size: 16px !important; line-height: 24px; margin-top: 0px; }
    h3[style="font-size:19px!important;"] { font-size: 16px !important; }
    .feedbackTable td { width: 100%; vertical-align: top; display: block; }
    .leftMenuPart { width: 100%; }
    .rightSidePart { width: 100%; padding: 5px; }
    .accordionLeft li a { border-right: 1px solid #dedede; }
    .accordionLeft li a.active { margin-right: 0px; }
    .eDetails { width: 100%; }
    .btnTick, .btn-red, .btnPrimary, .btnSecond, .nextBtn, .nextBtnG, .logOffBtn, .addBtn, .btnDelete, .downloadBtn, .printBtn { margin-bottom: 5px; }
    .downAll a { position: relative; left: 0; }
    .rightSingleBox { min-height: initial; float: left; width: 100%; }
    .form1099MISC .rightSingleBox { min-height: 50px; }
    .btn_social span { font-size: 13px; }
    .modal-dialog { width: 100%; }
    .mainbox { margin: 0px auto 0; }
    .my_accountDiv { display: block; }
    .displayTable td { display: block; text-align: left !important; }
    .footerTable td { text-align: left !important; display: block; }
    .footerTable p { font-size: 16px; font-weight: 700; letter-spacing: 1px; margin-top: 10px; }
    .formNY span { margin: 5px 0 5px; }
    .formNY p { margin: 5px 0 5px; }
    .stateBox2 { width: 100%; border-bottom: 1px solid #f00 !important; border-left: none; border-right: none; }
    .stateBox2:last-child { border-bottom: none !important; }
    .stateBox2 select { margin-bottom: 10px; }
    .hide640 { display: none; }
    .show640 { display: block; }
    .borderL640 { border-left: 1px solid #f00; }
    .borderR640 { border-right: 1px solid #f00; }
    .borderB640 { border-bottom: 1px solid #f00; }
    .borderT640 { border-top: 1px solid #f00; }
    .borderL640N { border-left: none; }
    .borderR640N { border-right: none; }
    .borderB640N { border-bottom: none; }
    .borderT640N { border-top: none; }
    .calcTable { margin: 10px 0; }
    .menuBar { margin: 0; }
    .optionBoxR { width: 100%; }
    .packageImg { float: none; }
    .optionBoxR { text-align: left !important; }
    .optionBoxR a.nextBtn, .optionBoxR a.nextBtnG { position: relative; right: 0px; bottom: 0px; margin-top: 20px; float: left; }
    .packageImg { margin-top: 15px; }
    .packageImg img { display: inline-block; }
    .leftCenter640 { float: left; display: block; width: 100%; }
    .rightCenter640 { display: block; text-align: center; margin: 0 auto; float: none; max-width: 290px; }
    .rightCenter640 a, .rightCenter640 button, .rightCenter640 .dropdown { margin-right: 0px; float: left !important; }
    .rightCenter640 a:last-child, .rightCenter640 button:last-child { margin-right: 5px; margin-top: 5px; }
    .visibleMob { display: inline-block; }
    .empDetails text { max-width: 300px; margin-bottom: 5px; }
    .cssTabContent { padding: 10px; }
    .optionBtnGroup { display: block; margin-left: 0px; margin-top: 10px; text-align: left; }
    .optionBtnGroup a { margin-right: 5px; margin-bottom: 5px; }
    .optionBtnGroup a:last-child { margin-right: 0px; }
    .empDetails { text-align: center; width: 100%; }
    .mobCeter { width: 100%; text-align: center; }
    .empDetails h2 { display: block; margin: 10px 0 0; }
    .centerTitle { font-size: 16px; font-weight: 600; }
    .cssTabs li { display: block; }
    .cssTabs li a { font-size: 14px; padding: 7px; }
    .adjBtn { margin-bottom: 10px; }
    .btnPrimary { padding: 5px 15px; border-radius: 35px; font-size: 14px; }
    .calcPart .nextBtn, .calcPart .nextBtnG { margin-top: 10px; }
    .calcPart { padding: 8px; margin-top: 10px; margin-bottom: 0; }
    .calcTable h2 { font-size: 18px; }
    .formCount h2 { font-size: 18px; }
    .calcTable td h3 { font-size: 18px; }
    .calcTable td { padding: 2px; }
    .formH2 span { width: 0; }
    .formH2 text { padding: 0; }
    .optionBoxL { width: 100%; float: left; }
    .logo { display: inline-block; float: left; text-align: center; }
    .logo img { width: 107px; }
    .navMenu { position: absolute; top: 65px; right: 0; z-index: 100; width: 100% !important; }
    .menuBar li a.active { border-bottom: 0; color: #ef6c49; background: #efefef; }
    .page { padding-bottom: 110px; }
    .disFlex1 { display: block; }
    .useAcc { float: right; max-width: 100%; margin-top: 10px; width: initial; }
    .accDiv p { width: 200px; }
    .logOff { padding: 0; }
    .navbar-header { float: right; margin-top: 14px; }
    .navbar-collapse { border-bottom: 1px solid #ccc; box-shadow: 1px 10px 10px #ddd; width: 100%; background: #fff; padding: 0px; }
    .mailMob { padding: 10px; background: #fff; font-weight: 600; color: #fff; display: block; }
    .navBarMenu { background: #fff; padding: 10px 0; }
    body { padding-top: 90px; }
    .containerApp { margin: 0 5px; }
    .minHeight { padding: 10px; }
    .borderR1 { border-right: none; }
    .optionBox { display: block; margin-bottom: 10px; margin-right: 0; min-width: 100%; }
    .optionBox:last-child { margin-bottom: 0px; }
    .downAll button { position: relative; left: 0; margin-top: 3px; z-index: 1000; }
    .tableMobleRes { overflow-x: auto; }
    .contactForm input, .contactForm textarea { margin-bottom: 0px; }
    .mobmTop0 { margin-top: 0; }
    .leftF h2 { font-size: 17px; }
    .leftF h2 b { font-size: 28px; }

    .navbar-toggler.collapsed .icon-bar { border-radius: 1px; display: block; height: 2px; margin-top: 0; transform: rotate(0deg); width: 22px; background: #444; margin-bottom: 4px; }
    .navbar-toggler.collapsed .icon-bar + .icon-bar + .icon-bar { display: block; margin-bottom: 0; margin-top: 4px; transform: rotate(0deg); }
    .navbar-toggler.collapsed .icon-bar + .icon-bar { display: block; margin-top: 4px; }

    .navbar-toggler .icon-bar { border-radius: 1px; display: block; height: 4px; margin-top: 5px; transform: rotate(45deg); width: 22px; background: #444; }
    .navbar-toggler .icon-bar + .icon-bar + .icon-bar { display: block; margin-bottom: 5px; margin-left: 0; margin-top: -4px; transform: rotate(-45deg); background: #444; }
    .navbar-toggler .icon-bar + .icon-bar { display: none; margin-top: 4px; }
    .progressBar ul li { font-size: 12px; margin-right: 5px; font-weight: 400; }
    .nameMob { width: 170px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
    footer p { text-align: center; }
    footer span.floatR { float: none !important; display: block; margin-top: 5px; }
    #DivDocumentName.nameDiv { display: block; }
    #DivDocumentName.nameDiv span { width: 88%; }
    #DivDocumentName.nameDiv span input { width: 100%; }
    .dataTables_wrapper .dataTables_paginate .paginate_button { padding: 3px 0px; }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { width: 26px; height: 26px; }
    .mobileView { text-align: center; }
    .mobileView a { margin-bottom: 10px; }
    .mobInputFull { width: 100% !important; }
}

@media only screen and (max-width: 450px) {
    body { padding-top: 80px; }
    .mobmLeft0 { margin-left: 0; }
    .mobmRight0 { margin-right: 0; }
}

@media only screen and (max-width: 360px) {
    .dataTables_filter label input[type="search"] { width: 130px; }
}