
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* Set padding to keep content from hitting the edges */
.body-content { padding-left: 15px; padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

/* Set width on the form input elements since they're 100% wide by default */
.clear { clear: both; /*height: 1px;*/ }
.floatL { float: left; }

.floatR { float: right !important; }
.floatRmL { float: right; }
.taL { text-align: left !important; }

.taC { text-align: center !important; }

.taR { text-align: right !important; }

.taJ { text-align: justify; }

.vaT { vertical-align: top; }

.vaM { vertical-align: middle !important; }

.vaB { vertical-align: bottom; }
.mar0 { margin: 0; }
.mTopNo { margin-top: 0 !important; }

.mTopMinus5 { margin-top: -5px; }

.mTop0 { margin-top: 0px !important; }

.mTop2 { margin-top: 2px; }

.mTop3 { margin-top: 3px; }

.mTop4 { margin-top: 4px; }

.mTop5 { margin-top: 5px; }

.mTop6 { margin-top: 6px; }

.mTop7 { margin-top: 7px; }

.mTop25 { margin-top: 25px !important; }

.mTop35 { margin-top: 35px; }

.mTop38 { margin-top: 38px; }

.mTop10 { margin-top: 10px !important; }

.mTop15 { margin-top: 15px; }

.mTop20 { margin-top: 20px !important; }

.mTop30 { margin-top: 30px !important; }
.mTop40 { margin-top: 40px !important; }

.mBot0 { margin-bottom: 0px !important; }

.mBot2 { margin-bottom: 2px !important; }

.mBot20 { margin-bottom: 20px !important; }

.mBot25 { margin-bottom: 25px; }

.mBot40 { margin-bottom: 40px; }

.mBot5 { margin-bottom: 5px !important; }

.mBot6 { margin-bottom: 6px; }

.mBot10 { margin-bottom: 10px !important; }

.mBot15 { margin-bottom: 15px !important; }

.mBot45 { margin-bottom: 45px !important; }

.mR6 { margin-right: 6px; }

.mRight0 { margin-right: 0px !important; }

.mRight3 { margin-right: 3px; }

.mRight5 { margin-right: 5px; }

.mRight9 { margin-right: 9px; }

.mRight10 { margin-right: 10px !important; }

.mRight14 { margin-right: 14px; }

.mRight15 { margin-right: 15px !important; }

.mRight17 { margin-right: 17px; }

.mRight20 { margin-right: 20px; }

.mRight30 { margin-right: 30px; }

.mRight70 { margin-right: 70px; }

.mRight300 { margin-right: 300px; }

.mLeft0 { margin-left: 0px !important; }

.mLeft3 { margin-left: 3px; }

.mLeft5 { margin-left: 5px; }

.mLeft10 { margin-left: 10px !important; }

.mLeft12 { margin-left: 12px !important; }


.mLeft20 { margin-left: 20px; }

.mLeft25 { margin-left: 25px; }

.mLeft35 { margin-left: 35px; }

.mLeft45 { margin-left: 45px; }

.mLeft55 { margin-left: 50%; }

.mLight300 { margin-left: 300px; }

.mLeft400 { margin-left: 400px; }

.pLeft0 { padding-left: 0px !important; }

.pLeft5 { padding-left: 5px; }

.pLeft10 { padding-left: 10px; }

.pLeft20 { padding-left: 20px; }

.pLeft30 { padding-left: 30px; }

.pLeft45 { padding-left: 45px; }

.pLeft70 { padding-left: 70px; }

.pLeft300 { padding-left: 300px; }

.pLeft15 { padding-left: 15px; }

.pRight0 { padding-right: 0px !important; }

.pRight5 { padding-right: 5px !important; }

.pRight3 { padding-right: 3px; }

.pRight10 { padding-right: 10px; }

.pRight20 { padding-right: 20px; }

.pBot0 { padding-bottom: 0px !important; }

.pBot5 { padding-bottom: 5px; }

.pBot10 { padding-bottom: 10px; }

.pBot15 { padding-bottom: 15px; }

.pBot20 { padding-bottom: 20px; }

.pTop3 { padding-top: 3px; }

.pTop4 { padding-top: 4px; }

.pTop40 { padding-top: 40px !important; }

.pTop5 { padding-top: 5px !important; }

.pTop6 { padding-top: 6px !important; }

.pTop7 { padding-top: 7px; }

.pTop10 { padding-top: 10px; }

.text11 { font-size: 11px; }

.spacer3 { height: 3px; }

.spacer5 { height: 5px; }

.spacer7 { height: 7px; }

.spacer10 { height: 10px; }

.spacer15 { height: 15px; }

.spacer20 { height: 20px; }

.spacer23 { height: 23px; }

.spacer25 { height: 25px; }

.spacer30 { height: 30px; }

.spacer33 { height: 33px; }

.spacer35 { height: 35px; }

.spacer40 { height: 40px; }

.spacer45 { height: 45px; }

.spacer50 { height: 50px; }

.red { color: #f00; }

.green { color: #17a345; }

.f18 { font-size: 18px; }
.f13 { font-size: 13px; }


 }

hr { margin: 5px 0; border-color: #ccc; }

.containerApp { margin: 0 30px; }
/*footer { margin: auto; font-size: 12px; text-align: left; color: #7d7d7d; border-top: 1px solid #e8e8e8; padding: 12px 15px; background: #fafafa; position: absolute; z-index: 9; border-bottom: none; bottom: 0; width: 100%; }*/
.footerTable { color: #f00; width: 100%; }
.footerTable td { text-align: center; }
.footerTable span { font-size: 13px; }
.footerTable p { font-size: 20px; font-weight: 700; letter-spacing: 3px; margin-top: 10px; }
.page { min-height: 100%; height: 100%; padding-bottom: 90px; }
.img_70 { width: 70px; }
.fullBorder { border: 1px solid #f00; width: 100%; float: left; }
.fullBorder2 { border: 1px solid #f00; border-top: none; width: 100%; float: left; }
.pad10 { padding: 10px; }
.pad20 { padding: 20px; }
.sec_border { border-right: 4px solid #f00; border-left: 4px solid #f00; border-top: 3px solid #f00; border-bottom: 3px solid #f00; }
.formLabel { line-height: 16px; font-weight: 600; color: #f00; padding: 2px 10px 0; width: 100%; font-size: 12.5px; }
.smallCheck { cursor: pointer; font-size: 12px; font-weight: normal; width: 100%; background: #fff; color: #f00; line-height: 12px; }
.valueL { width: calc(100% - 50px); float: left; }
.valueR { width: 40px; float: left; padding: 5px 10px 0; }
.formNY span { font-size: 10px; font-weight: bold; text-align: center; width: 100%; float: left; margin: 5px 0 25px; color: #f00; }
.formNY img { width: 100px; }
.formNY p { text-align: center; margin: 25px 0 0; background: none; border-radius: 0; box-shadow: none; height: auto; color: #f00; }
.bg_red { background-color: #fdb8b8; }
.checkTable td { vertical-align: top; }

.formW2 { background: url('Images/cornerBorderTL.png') no-repeat, url('Images/cornerBorderTR.png') no-repeat right top,url('Images/cornerBorderBR.png') no-repeat right bottom,url('Images/cornerBorderBL.png') no-repeat left bottom; padding: 4px; }
.formFill { width: 100%; float: left; }
.formFill input[type="text"], .formFill select { min-width: 100%; width: 100%; border: 1px solid #cbcbcb; padding: 3px 5px; min-height: 30px; }
.formFill input[type="text"]:hover, .formFill select:hover, .formFill input[type="text"]:focus, .formFill select:focus { border: 1px solid #666; }
.formFill input[type="number"], .formFill select { min-width: 100%; width: 100%; border: 1px solid #cbcbcb; padding: 3px 5px; min-height: 30px; }
.formFill input[type="number"]:hover, .formFill select:hover, .formFill input[type="number"]:focus, .formFill select:focus { border: 1px solid #666; }
::placeholder { color: #888; font-style: italic; font-size: 13px; }
.formB { color: #f00; }

.orgBg { background: #ffe8cb; }
.WhiteBg { background: #fff; }
.stateBox { width: 20%; float: left; }
.stateBox2 { float: left; border-bottom: none !important; border-left: 1px solid #f00; }
.stateBox2:first-child { border-left: none; }
.maxwidth1320 { max-width: 1320px; width: 100%; float: none; margin: 0 auto; }
.formLeftHalf { border-right: 1px solid #f00; border-top: none; }
.formRightHalf { border-top: none; float: right; }
.formRightHalfTab { float: left; display: none; }
.signleBox { padding-bottom: 5px; border-bottom: 1px solid #f00; }
.signleBox1 { margin-bottom: 5px; border-bottom: 1px dashed #f00; }
.smallSelect { background: url('Images/code.png') no-repeat; background-size: 7px; padding-left: 13px; }
.formHeading { margin: 0px 0 10px; font-size: 19px; font-weight: 600; border-bottom: 1px solid #e4e4e4; padding-bottom: 5px; }

.mis_income h4 { margin: 55px -12px 59px; font-size: 25px; color: #f00; line-height: 25px !important; text-align: right; }
.copy_a { text-align: right; color: #f00; }
.copy_a h4 { font-weight: bold; font-size: 17px; margin: 0; text-align: right; color: #f00; line-height: 21px; margin-bottom: 1px; }
.privacy_act p { font-size: 17px; line-height: 21px; background: none; color: #f00; text-align: right; border-radius: 0; box-shadow: none; height: auto; }
.rightBottomPart { border-right: 1px solid #f00; float: left; }
.btn-red { background: #f00; color: #fff; font-weight: 600; font-size: 14px; border-radius: 50px; }
.btn-red:hover { background: #ed0c0c; color: #fff; }
.btnCancel { color: #333; background: #fff url('Images/closeBtn.png') no-repeat center left 6px; border: 1px solid #bdbdbd; padding: 3px 12px 3px 27px; font-weight: 600; border-radius: 20px; background-size: 15px; }
.btnCancel:hover { color: #333; border: 1px solid #666; }
.btnPrimary { padding: 8px 25px; border-radius: 35px; background: #ef6c49; border: none; color: #fff; font-size: 15px; font-weight: 600; }
.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active { color: #fff; background: #e66745; }

.errorBtn { display: inline-block; padding: 2px 15px; border-radius: 35px; background: #fff; border: 2px solid #f00; color: #f00; font-size: 15px; font-weight: 600; }
.errorBtn:hover, .errorBtn:focus, .errorBtn:active { color: #fff; background: #f00; }

.btnPrimaryStroke { display: inline-block; padding: 8px 25px; border-radius: 35px; background: #fff; border: 2px solid #ef6c49; color: #ef6c49; font-size: 15px; font-weight: 600; }
.btnPrimaryStroke:hover, .btnPrimaryStroke:focus, .btnPrimaryStroke:active { color: #fff; background: #e66745; }
.btnSecondStroke { display: inline-block; padding: 4px 15px; border-radius: 35px; background: #fff; border: 2px solid #ef6c49; color: #ef6c49; font-size: 14px; font-weight: 600; }
.btnSecondStroke:hover, .btnSecondStroke:focus, .btnSecondStroke:active { color: #fff; background: #e66745; }

.btnStroke { display: inline-block; padding: 0px 10px; border-radius: 35px; background: #fff; border: 2px solid #ef6c49; color: #ef6c49; font-size: 13px; font-weight: 600; }
.btnStroke:hover, .btnStroke:focus, .btnStroke:active { color: #fff; background: #e66745; }


.btnSecond { padding: 5px 15px; border-radius: 35px; background: #ef6c49; border: none; color: #fff; font-size: 15px; font-weight: 600; }
.btnSecond:hover, .btnSecond:focus, .btnSecond:active { background: #e66745; color: #fff; }
/*.btn-lg { padding: 10px 35px; font-size: 17px; }*/
/*.nextBtn { border: none; background: url('Images/rightAngleIcon.png') no-repeat center right 3px #ef6c49; color: #fff; padding: 7px 40px 7px 15px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; }
.nextBtnG { border: none; background: url('Images/rightAngleIconG.png') no-repeat center right 3px #ef6c49; color: #fff; padding: 7px 40px 7px 15px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; }
.backBtn { min-width: 100px; border: none; background: url('Images/leftAngleIcon.png') no-repeat center left 3px #555; color: #fff; padding: 7px 15px 7px 40px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; }
.downloadBtn2 { min-width: 100px; border: none; background: url('Images/downloadIcon.png') no-repeat center left 3px #ef6c49; color: #fff; padding: 7px 15px 7px 40px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; }
.downloadBtn { min-height: 36px; border: none; background: url('Images/downloadIcon.png') no-repeat center left 1px #fff; color: #ef6c49; padding: 5px 15px 5px 40px; border-radius: 30px; font-weight: 600; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; border: 2px solid #ef6c49; }
.mobIcon { padding-left: 17px; }
.mTop35m { margin-top: -35px; }
.emailBtn { border: none; background: url('Images/emailIcon.png') no-repeat center left 1px #fff; color: #ef6c49; padding: 5px 15px 5px 40px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; border: 2px solid #ef6c49; }
.btnTour { border: none; background: url('Images/playIcon.png') no-repeat center left 1px #fff; color: #ef6c49; padding: 5px 15px 5px 40px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; border: 2px solid #ef6c49; }*/

/*.printBtn { min-width: 100px; border: none; background: url('Images/printBtnIcon.png') no-repeat center left 3px #ef6c49; color: #fff; padding: 7px 15px 7px 40px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; }*/
.printBtn { min-width: 100px; border: none; background: url('Images/printBtnIcon.png') no-repeat center left 1px #fff; color: #ef6c49; padding: 5px 15px 5px 40px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; border: 2px solid #ef6c49; }

/*.addBtn { border: none; background: url('Images/addIcon.png') no-repeat center left 3px #ef6c49; color: #fff; padding: 6px 15px 7px 40px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; }*/
.addBtn { border: none; background: url('Images/addIcon.png') no-repeat center left 3px #62bacb; color: #fff; padding: 7px 15px 7px 40px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; }
.logOffBtn { background: url('Images/logOffIcon.png') no-repeat center left 3px #f00; background-size: auto auto; color: #fff; padding: 4px 12px 5px 30px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 14px; background-size: 23px; }
.logOffBtn:hover, .logOffBtn:active, .logOffBtn:focus { background-color: #ed0c0c; color: #fff; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; }
.btnTick { border: none; background: url('Images/tickIcon.png') no-repeat center left 3px #ef6c49 !important; color: #fff; padding: 7px 15px 7px 40px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; }
.btnDelete { border: none; background: url('Images/deleteIcon.png') no-repeat center left 3px #f34c4c; color: #fff; padding: 7px 15px 7px 40px; border-radius: 30px; font-weight: 600; vertical-align: middle; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; font-size: 15px; }
.edit { line-height: 1.1; font-weight: 600; background: #fff; border: 2px solid #ef6c49; display: inline-block; padding: 3px 10px 3px 30px; border-radius: 30px; font-size: 14px; color: #ef6c49; background: url('Images/pencilIcon.png') no-repeat center left 8px; }
.edit:hover { border: 2px solid #ef6c49; background: url('Images/pencilIconW.png') #ef6c49 no-repeat center left 8px; color: #fff; }
.pdf { line-height: 1.1; font-weight: 600; background: #fff; border: 2px solid #ef6c49; display: inline-block; padding: 3px 10px 3px 30px; border-radius: 30px; font-size: 14px; color: #ef6c49; background: url('Images/pdfIconXs.png') no-repeat center left 8px; }
.pdf:hover { border: 2px solid #ef6c49; background: url('Images/pdfIconXsW.png') #ef6c49 no-repeat center left 8px; color: #fff; }
.print { line-height: 1.1; font-weight: 600; background: #fff; border: 2px solid #ef6c49; display: inline-block; padding: 3px 10px 3px 30px; border-radius: 30px; font-size: 14px; color: #ef6c49; background: url('Images/printIconXs.png') no-repeat center left 8px; }
.print:hover { border: 2px solid #ef6c49; background: url('Images/printIconXsW.png') #ef6c49 no-repeat center left 8px; color: #fff; }
.addBtn:hover, .addBtn:active, .addBtn:focus { background-color: #52aabc; color: #fff; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; }
.downloadBtn2:hover, .downloadBtn2:active, .downloadBtn2:focus, .nextBtn:hover, .nextBtn:active, .nextBtn:focus, .nextBtnG:hover, .nextBtnG:active, .nextBtnG:focus, .btnTour:hover, .btnTour:active, .btnTour:focus, .btnTick:hover, .btnTick:active, .btnTick:focus, .emailBtn:hover, .emailBtn:active, .emailBtn:focus, .downloadBtn:hover, .downloadBtn:active, .downloadBtn:focus, .printBtn:hover, .printBtn:active, .printBtn:focus { background-color: #e66745; color: #fff; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; }
.backBtn:focus, .backBtn:hover, .backBtn:active { background-color: #333; color: #fff; transition: 0.2s all; -o-transition: 0.2s all; -moz-transition: 0.2s all; -webkit-transition: 0.2s all; }
.adjBtn { margin-bottom: -35px; position: relative; }

/* Ripple magic */
.btnTick, .btnTour, .btn-red, .btnPrimary, .btnSecond, .nextBtn, .nextBtnG, .logOffBtn, .addBtn, .btnDelete, .downloadBtn, .downloadBtn2, .emailBtn, .printBtn { display: inline-block; position: relative; overflow: hidden; }

.btnTick:after, .btnTour:after, .btn-red:after, .btnPrimary:after, .btnSecond:after, .nextBtn:after, .downloadBtn2:after, .nextBtnG:after, .logOffBtn:after, .addBtn:after, .btnDelete:after, .downloadBtn:after, .emailBtn:after, .printBtn:after { content: ''; position: absolute; top: 50%; left: 50%; width: 5px; height: 5px; background: rgba(255, 255, 255, .5); opacity: 0; border-radius: 100%; transform: scale(1, 1) translate(-50%); transform-origin: 50% 50%; }

@keyframes ripple {
    0% { transform: scale(0, 0); opacity: 1; }
    20% { transform: scale(25, 25); opacity: 1; }
    100% { opacity: 0; transform: scale(40, 40); }
}

.btnTick:focus:not(:active)::after, .btnTour:focus:not(:active)::after, .btn-red:focus:not(:active)::after, .btnPrimary:focus:not(:active)::after, .btnSecond:focus:not(:active)::after, .nextBtn:focus:not(:active)::after, .downloadBtn2:focus:not(:active)::after, .nextBtnG:focus:not(:active)::after, .logOffBtn:focus:not(:active)::after, .addBtn:focus:not(:active)::after, .btnDelete:focus:not(:active)::after, .downloadBtn:focus:not(:active)::after, .emailBtn:focus:not(:active)::after, .printBtn:focus:not(:active)::after { animation: ripple 1s ease-out; }
.cursorP { cursor: pointer; }
.upgradeBtn { margin-top: 60px; }
.disFlex980N { display: flex; }
.rightSingleBox { padding: 0; padding-bottom: 5px; border-bottom: 1px solid #f00; min-height: 64px; }
.form1099MISC .rightSingleBox { min-height: 81.8px; }
.leftF { color: #f00; width: 57%; float: left; }
.RightF { color: #f00; display: inline-block; text-align: right; float: right; width: 40%; }
.RightF p { margin: 0; }
.leftF p { font-weight: 600; margin: 0; }
.leftF h2 { font-weight: 700; font-size: 19px; color: #f00; margin: 0; }
.leftF h2 span { font-size: 15px; }
.leftF h2 b { font-size: 45px; font-weight: 800; }
.subText { font-size: 13px; color: #959595; }
.cssRadio:checked + label.cssRadioLabel, .cssRadio:checked + input + label.cssRadioLabel { background: url('Images/radioChecked.png') no-repeat left; }
.cssRadioLabel { vertical-align: middle; background: url('Images/radioUncheck.png') no-repeat left; padding: 2px 0 2px 24px; margin-bottom: 0; cursor: pointer; color: #333; font-weight: 600; font-size: 14px; min-height: 24px; }
.cssRadio { position: absolute; opacity: 0; left: -9999px; }
.cssRadioT { background-position: left top 4px !important; padding-bottom: 6px; }
.formCheckBox, .cssCheckBox, .formCheckBoxL, .cssCheckBoxL { position: absolute; opacity: 0; left: -9999px; }
.cssCheckBox:checked + label.cssCheckLabel, .cssCheckBox:checked + input + label.cssCheckLabel { background: url('Images/cssCheckBoxC.png') no-repeat left; }
.cssCheckLabel { vertical-align: middle; background: url('Images/cssCheckBox.png') no-repeat left; padding: 2px 0 2px 30px; margin: 0; cursor: pointer; color: #333; font-weight: 600; font-size: 14px; min-height: 24px; }
.formCheckBox:checked + label.formCheckLabel, .formCheckBox:checked + input + label.formCheckLabel { background: url('Images/formCheckBoxC.png') no-repeat right; }
.formCheckLabel { background: url('Images/formCheckBox.png') no-repeat right; padding: 2px 30px 2px 0; cursor: pointer; color: #f00; font-weight: 600; font-size: 15px; min-height: 27px; }
.formCheckBoxL:checked + label.formCheckLabelL, .formCheckBoxL:checked + input + label.formCheckLabelL { background: url('Images/formCheckBoxC.png') no-repeat left; }
.formCheckLabelL { background: url('Images/formCheckBox.png') no-repeat left; padding: 2px 0px 2px 30px; cursor: pointer; color: #f00; font-weight: 600; font-size: 15px; min-height: 27px; }
.checkboxT { background-position: left top 6px !important; padding-bottom: 6px; }

.disInline { display: inline-block; }
.disFlex1 { display: flex; }
.disFlex1024N { display: flex; }
.borderL { border-left: 1px solid #f00; }
.borderR { border-right: 1px solid #f00; }
.borderB { border-bottom: 1px solid #f00; }
.borderT { border-top: 1px solid #f00; }
.borderLT { border-left: 1px solid transparent; }
.borderRT { border-right: 1px solid transparent; }
.borderBT { border-bottom: 1px solid transparent; }
.borderTT { border-top: 1px solid transparent; }
.responsive .labelName { width: 260px; text-align: right; padding-right: 5px; padding-top: 8px; vertical-align: top; color: #333; font-weight: 600; }
.responsive .fieldName { position: relative; }
.responsive .labelName label { color: #333; font-weight: 600; margin: 0; }

.borderDL { border-left: 1px dashed #f00; }
.borderDR { border-right: 1px dashed #f00; }
.borderDB { border-bottom: 1px dashed #f00; }
.borderDT { border-top: 1px dashed #f00; }

.borderL1 { border-left: 1px solid #f00; }
.borderR1 { border-right: 1px solid #f00; }
.borderB1 { border-bottom: 1px solid #f00; }
.borderT1 { border-top: 1px solid #f00; }
.borderLN { border-left: none; }
.borderRN { border-right: none; }
.borderBN { border-bottom: none; }
.borderTN { border-top: none; }

.borderL1024N { border-left: 1px solid #f00; }
.borderR1024N { border-right: 1px solid #f00; }
.borderB1024N { border-bottom: 1px solid #f00; }
.borderT1024N { border-top: 1px solid #f00; }

.show640 { display: none; }
.borderR980N { border-right: 1px solid #f00; }
.w100P { width: 100% !important; }

.noteTxt { margin: 0; color: #757575; font-size: 13px; letter-spacing: 0.2px; }


.optionBtnGroup { display: block; margin: 0px; vertical-align: middle; }
.optionBtnGroup h2 { margin: 0; font-size: 16px; text-align: center; font-weight: bold; background: #efefef; padding: 12px 0; border-radius: 4px 4px 0 0; }
.optionBtnGroup h3 { margin: 0; font-size: 15px; text-align: left; font-weight: 600; padding: 0 0 10px; }
.optionBtnGroup a { margin-right: 5px; }
.optionBtnGroup a:last-child { margin-right: 0px; }
.optionBtnGroupBody { padding: 10px; border: 1px solid #efefef; min-height: 110px; }
.signleTable { width: 100%; }
.signleTable td { padding: 1px 3px; }
.signleTable td:first-child { text-align: right; }
.signleTable label { font-weight: 600; color: #757575; text-align: right; }
.empDetails p { color: #858585; margin-bottom: 0; }

.optionBox { border: 1px solid #e1e1e1; position: relative; float: left; width: 100%; cursor: pointer; padding: 15px; margin-right: 20px; margin-bottom: 0px; border-radius: 4px; box-shadow: 1px 1px 15px #eaeaea; }
.optionBox:last-child { margin-bottom: 0; }
.optionBox:hover { box-shadow: 1px 1px 15px #dadada; }
.optionBox:last-child { margin-right: 0; }
.optionBoxL { /*width: calc(100% - 165px);*/ width: calc(100% - 250px); float: left; text-align: justify; }
.optionBoxL h2 { margin: 0; font-size: 18px; font-weight: 700; color: #ef6c49; margin-bottom: 6px; }
.optionBoxL h2 text { font-size: 15px; vertical-align: top; font-weight: 600; margin-right: 2px; }
.optionBoxL h2 span { color: #333; font-weight: bold; background: #fff; padding: 0px 10px; border-radius: 35px; border: 2px solid #62bacb; font-size: 21px !important; margin-left: 10px; }
.optionBoxL p { color: #858585; margin-bottom: 0; margin-top: 15px; }
.optionBoxR { float: right; }
.optionBoxR a.nextBtn, .optionBoxR a.nextBtnG { position: absolute; right: 15px; bottom: 10px; }
.packageImg { }
.packageImg span { font-size: 24px !important; vertical-align: middle; padding: 0 10px; font-weight: 600 !important; color: #333 !important; }
.rIcon-md { border: 2px solid #d8d8d8; min-width: 95px; width: 95px; height: 95px; vertical-align: middle; text-align: center; border-radius: 70px; padding-top: 17px; }
.formH2 { margin: 0 0 10px 0; font-size: 18px; font-weight: 600; color: #333; position: relative; background: url('Images/h2Bg.png') repeat-x center top 11px; }
.formH2 span { width: 40px; height: 5px; background: #ef6c49; display: inline-block; vertical-align: middle; }
.formH2 text { background: #fff; padding-left: 10px; padding-right: 10px; }
.logOff { padding: 0 15px; }
.b600 { font-weight: 600 !important; }
.dashTable { margin-bottom: 0; }
.dashTable thead th { background: #f0f0f0; border-bottom: none !important; padding: 8px !important; font-weight: 600; color: #333; font-size: 15px; vertical-align: middle !important; }
.dashTable tr td { font-weight: 500; color: #333; padding: 8px !important; vertical-align: middle !important; }
.dashTable tr:nth-child(even) { background: #f9f9f9; }
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td { border: 1px solid #e0e0e0; }
.table-bordered { border: 1px solid #e0e0e0; border-collapse: collapse; }
.dateTime { color: #939393 !important; font-size: 13px; }
.responsiveTable { max-width: 100%; overflow-x: auto; }
.rIcon-sm { border: 2px solid #d8d8d8; width: 60px; height: 60px; vertical-align: middle; text-align: center; border-radius: 70px; padding-top: 10px; display: inline-block; }
.rIcon-sm img { width: 27px; }
.pdf_wrap { padding-left: 104px; }
.centerTitle { margin: 5px 0 0; text-align: center; font-size: 21px; font-weight: 600; }

/*********Tab Content*********/
.cssTabs { text-align: center; border-bottom: 4px solid #ef6c49; }
.cssTabs li { margin-bottom: 0; float: none; display: inline-block; }
.cssTabs li a { border: 1px solid #e1e1e1; background: #f2f2f2; color: #333; font-weight: 600; font-size: 16px; padding: 10px 20px; }
.cssTabs li a:hover { background: #e1e1e1 !important; border: 1px solid #ccc !important; }
.cssTabs li.active a, .cssTabs li.active a:hover, .cssTabs li.active a:active, .cssTabs li.active a:focus { border: 1px solid #ef6c49 !important; background: #ef6c49 !important; color: #fff; }
.cssTabContent { padding: 15px; border: 1px solid #e1e1e1; border-top: none; width: 100%; float: left; }
/*********Tab Content*********/

.multipleL { width: calc(100% - 560px); float: left; }
.multipleR { width: 540px; float: right; }

.calcPart { width: 100%; float: left; padding: 10px; border: 1px solid #ccc; border-radius: 4px; border-radius: 4px; box-shadow: 1px 1px 15px #e4e4e4; margin-bottom: 10px; }
.calcPart:hover { border: 1px solid #aaa; box-shadow: 1px 1px 15px #aaa; }
.calcHead { }
.calcHead span { font-size: 18px; font-weight: 700; color: #333; vertical-align: middle; }
.calcTable { text-align: center; display: inline-block; float: left; }
.calcTable td { padding: 2px 5px; vertical-align: middle; min-width: 40px; }
.calcTable td h3 { margin: 0; font-weight: 500; font-size: 20px; color: #565656; }
.calcTable td h2 { margin: 0; }
.calcTable td p { margin: 0; color: #909090; }
.calcTable td b { font-size: 22px; font-weight: 600; color: #565656; }
.formCount { width: 44px; height: 44px; border: 1px solid #ccc; border-radius: 40px; padding-top: 9px; display: inline-block; }
.calcTable h2 { font-size: 20px; font-weight: 700; color: #000; }
.formCount h2 { font-size: 20px; font-weight: 500; color: #565656; }
.calcTable td span { font-size: 19px; vertical-align: top; color: #757575; font-weight: 300; margin-right: 2px; }
.calcPart .nextBtn, .calcPart .nextBtnG { margin-top: 35px; }
.rightCenter640 { float: right; display: inline-block; }
.rightCenter640 a, .rightCenter640 button { margin-right: 20px; }
.leftCenter640 { float: left; display: inline-block; }
.rightCenter640 a:last-child, .rightCenter640 button:last-child { margin-right: 0px; }
.signleForm { padding: 2px; }
.signleForm text { display: block; font-size: 12px; }

.logOffTxt { font-size: 17px; font-weight: 300; text-align: center; margin-bottom: 0; padding: 15px; }
.logOffTxt img { margin-right: 5px; }

/*******flow fileds*******/
.labelName { padding-top: 6px !important; width: 210px; text-align: right; padding-right: 5px; font-weight: 600 !important; }
.labelName label { font-weight: 600; }
.fieldset, .fieldName { max-width: 400px; position: relative; }
.fieldset input[type="text"], .fieldset input[type="password"], .fieldset select, .fieldName input[type="text"], .fieldName input[type="password"], .fieldName select { max-width: 250px; }
.searchTitle { font-weight: bold; font-size: 15px; color: #ef6c49; }
.sepLineB { border-top: 1px solid #e3e3e3; margin: 10px 0; }
#CardNumber { background-image: url("../Content/Images/All_Cards_Image.png"), url("../Content/Images/All_Cards_Image.png"); background-position: 2px -107px, 230px -53px; background-size: 120px 361px, 120px 361px; background-repeat: no-repeat; padding-left: 54px; min-width: 100px; }
/*******flow fileds end*******/

.my_accountDiv { display: flex; }
.my_account { border: 1px solid #e1e1e1; position: relative; float: left; width: 100%; cursor: pointer; padding: 15px; margin-right: 20px; margin-bottom: 15px; border-radius: 4px; box-shadow: 1px 1px 15px #eaeaea; }
.my_account:hover { box-shadow: 1px 1px 15px #dadada; border: 1px solid #ccc; }
.acc-icon { display: inline-block; width: 90px; border-radius: 50%; background: #fff; border: 2px solid #ef6c49; height: 90px; text-align: center; line-height: 74px; position: absolute; left: 15px; top: 15px; }
.acc-icon img { padding-top: 3px; }
.acc-content { padding-left: 105px; text-align: left; font-size: 14px; font-weight: 400; color: #757575; }
.my_account .mainHeading { color: #212121; font-size: 15px; font-weight: bold; margin: 10px 0 5px; }
.my_account:last-child { margin-right: 0; }
.helpInfo { color: #757575; margin-bottom: 0; }

.mainbox { max-width: 500px; margin: 100px auto 0; }
.mainbox .panel-info > .panel-heading { color: #ef6c49; background-color: #fff; border-color: #ececec; }
.mainbox .panel-info > .panel-heading { color: #ef6c49; font-weight: 600; }
.mainbox .panel-info { border-color: #ececec; }
.mainbox input[type="text"], .mainbox input[type="password"] { padding: 10px 40px 10px 10px !important; width: 100%; height: auto; border-radius: 3px; }
.mainbox .inputbox { position: relative; }

.divemail span { color: #333; font-size: 14px; font-weight: 600; padding: 10px 5px; }

.nameDiv { display: inline-block; }
.nameDiv label { font-weight: 600; margin-right: 5px; }
.reName { font-size: 14px; font-weight: 600; color: #333; padding: 4px 10px !important; height: 40px; border: 1px solid #cbcbcb !important; width: 255px; }
.centerBox { margin: 0 auto; max-width: 360px; }
.pad0 { padding: 0; }
.padtop0 { padding: 18px; }
.pBottom5 { padding-bottom: 5px; }

/************Progress Bar *************/
.progressBar { }
.progressBar ul { display: flex; padding: 0; margin: 0; }
.progressBar ul li { font-size: 13px; width: 100%; text-align: center; list-style: none; margin-right: 15px; font-weight: 600; color: #bcbcbc; }
.progressBar ul li.current { color: #555; }
.progressBar ul li.finished { color: #555; }
.progressBar ul li.current span { display: block; height: 3px; border-radius: 15px; background: #ef6c49; margin-top: 11px; }
.progressBar ul li.finished span { display: block; height: 3px; border-radius: 15px; background: #74b968; margin-top: 11px; }
.progressBar ul li span { display: block; height: 3px; border-radius: 15px; background: #bcbcbc; margin-top: 11px; }
.progressBar ul li:before { margin-bottom: 5px; content: ""; background: url(/Content/Images/progressNext.png) no-repeat center top 0; background-size: 22px; height: 22px; width: 100%; float: left; }
.progressBar ul li.current:before { background: url(/Content/Images/progressCurrent.png) no-repeat center top 0; background-size: 22px; }
.progressBar ul li.finished:before { background: url(/Content/Images/progressFinished.png) no-repeat center top 0; background-size: 22px; }
.progressBar ul li:last-child { margin-right: 0; }
/************Progress Bar *************/

.validationDone { text-align: center; margin-top: 50px; }
.validationDone p { color: #74b968; font-size: 20px; font-weight: 600; }
.pBottom5 { padding-bottom: 5px; }
.afterT { border: 1px solid #e9e9e9; padding: 30px; box-shadow: 1px 5px 15px #e7e7e7; border-radius: 4px; }
.afterT p { margin-bottom: 0; color: #757575; }
.congrats { font-size: 18px; font-weight: 500; color: #454545; margin-bottom: 0; }
.congrats span { font-size: 25px; color: #74b968; font-weight: 600; }
.resImg { max-width: 100%; }
.maxSpeace { height: 50px; }

/***********Help Message**********/
.helpMsg { position: relative; display: inline-block; z-index: 1000; }
.helpMsg img { cursor: pointer; }
.helpMsg p { text-align: left; line-height: 16px; font-size: 12px; display: none; position: absolute; bottom: 25px; background: #fff; padding: 3px 10px; margin: 0; width: 200px; left: -175px; word-wrap: break-word; border-radius: 3px; background: #000; color: #fff; }
.helpMsg img:hover + p { display: block; cursor: pointer; }
.helpMsg p:hover { display: block; }
.helpMsg p:after { content: ""; background: url(Images/tooltipDropdown.png) no-repeat bottom; width: 10px; height: 6px; position: absolute; bottom: -5px; right: 8px; }
.helpDiv input[type="text"], .helpDiv select { min-width: calc(100% - 35px); width: calc(100% - 35px); vertical-align: middle; }
.helpMsgCenter p { text-align: left; line-height: 16px; font-size: 12px; display: none; position: absolute; bottom: 25px; background: #fff; padding: 3px 10px; margin: 0; width: 200px; left: -90px; word-wrap: break-word; border-radius: 3px; background: #000; color: #fff; right: auto; }
.helpMsgCenter p:after { content: ""; background: url(Images/tooltipDropdown.png) no-repeat bottom; width: 10px; height: 6px; position: absolute; bottom: -5px; right: 95px; }
.helpMsgBL p { z-index: 10001; text-align: left; line-height: 16px; font-size: 12px; display: none; position: absolute; top: 25px; bottom: auto; background: #fff; padding: 3px 10px; margin: 0; width: 200px; right: -90px; word-wrap: break-word; border-radius: 3px; background: #000; color: #fff; right: auto; }
.helpMsgBL p:after { content: ""; background: url(Images/tooltipDropUp.png) no-repeat bottom; width: 10px; height: 6px; position: absolute; top: -5px; right: 10px; }
.popover[class*="tour-"] { z-index: 1100 !important; }
/***********Help Message**********/

.hintMsg { font-size: 13px; color: #757575; }
.formBox { padding: 10px; border: 1px solid #bcbcbc; border-radius: 4px; background: #f2f2f2; }
.formBox p:last-child { margin-bottom: 0; }
.formBox.yellow { background: #fffdd6; font-size: 15px; }
.visibleMob { display: none; }
.accRight { width: 230px; float: right; padding: 10px 15px; }
.accRight p { color: #333; font-size: 14px; text-transform: capitalize; font-weight: bold; word-wrap: break-word; margin-bottom: 0; }
.accRight span { font-weight: normal; width: 210px !important; color: #757575 !important; white-space: normal !important; word-wrap: break-word; }
.accRight:before { bottom: 100%; right: 10px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(160, 160, 160, 0); border-bottom-color: #a0a0a0; border-width: 11px; margin-left: -5px; }
.pBot40 { padding-bottom: 40px; }
.minH60 { min-height: 60px; }
.minH64 { min-height: 64px; }
.minH76 { min-height: 76px; }

.statusTD span { background: #fff; padding: 3px 5px; border-radius: 2px; font: 600 14px Open Sans; color: #333; text-align: center; display: inline-block; line-height: 15px; }
.statusTD span[class*="Rejected"] { background: #f00; color: #fff; }
.statusTD span[class*="Progress"] { border: 1px solid #f49f09; background: none; font-size: 13px; }
.statusTD span[class*="Transmitted"] { border: 1px solid #61b9ca; background: #e2f3f9; font-size: 13px; }
.statusTD span[class*="Paid not Transmitted"] { border: 1px solid #30A954; background: none; font-size: 13px; }
.statusTD span[class*="Accepted"], .statusTD span[class*="Received"], .statusTD span[class*="Completed"], .statusTD span[class*="Agency"], .statusTD span[class*="process"], .statusTD span[class*="Finalized"] { border: 1px solid #5ca039; background: none; font-size: 13px; }

.bg-green { width: 100px; border: 1px solid #30a954 !important; padding: 5px 0 !important; font-size: 13px !important; }
.bg-orange { width: 100px; border: 1px solid #ffa500 !important; padding: 5px 0 !important; font-size: 13px !important; }
table.dataTable thead .sorting_asc, table.dataTable thead .sorting, table.dataTable thead .sorting_desc { padding-right: 20px !important; }

.minHeight { padding: 15px; border: 1px solid #e0e0e0; border-radius: 4px; min-height: 400px; }
.displayTable { width: 40%;
    margin: auto !important;
    font-size: 15px; }
.downAll { text-align: center; position: relative; }
.downAll button { position: absolute; left: 35%; margin-top: 3px; z-index: 1000; }
.cardCenter { max-width: 980px; margin: 0 auto; }
.floatBtn { display: none; }
.padDiv { padding: 0 25px; }
input[type="text"].redDollar { background: url(../images/redDollar.png) no-repeat center left 5px; padding-left: 20px; }
/*.calcTable1 h2 { font-size: 25px; font-weight: 700; color: #ef6c49; margin: 0; }*/
input[type="number"].redDollar {
    background: url(../images/redDollar.png) no-repeat center left 5px;
    padding-left: 20px;
}
.calcTable1 h2 { font-size: 25px; font-weight: 700; margin: 0; }
.calcTable1 td span { font-size: 19px; vertical-align: top; color: #757575; font-weight: 300; margin-right: 2px; }
.calcTable1 td h3 { margin: 0; font-weight: 700; font-size: 20px; }
.calcTable1 td span { font-size: 19px; vertical-align: top; color: #757575; font-weight: 300; margin-right: 2px; }

.pTxt { color: #757575; line-height: 23px; }

.maxW650 { max-width: 650px; margin: auto; }
.regPopup { text-align: center; }
.regPopup h2 { font-weight: 600; font-size: 23px; margin: 20px 0 40px; color: #f06c49; }
.regPopup p { color: #757575; margin-bottom: 20px; }
.eDetails { float: left; }
.tableMobleRes { overflow-x: initial; }

/***********My Account part *************/
.leftMenuPart { width: 240px; float: left; position: relative; z-index: 100; }
.accordionLeft { margin: 0; padding: 0; border-top: 1px solid #dedede; }
.accordionLeft li { list-style: none; }
.accordionLeft li a { display: block; padding: 15px 8px; border-left: 5px solid #dedede; background: #f3f3f3; font-weight: 600; color: #333; border-bottom: 1px solid #dedede; font-size: 16px; vertical-align: middle; }
.accordionLeft li a:hover { border-left: 5px solid #dedede; background: #fff; }
.accordionLeft li a.active { border-left: 5px solid #ef6c49; background: #fff; margin-right: -1px; color: #ef6c49; }
.accordionLeft li a img { margin-right: 8px; }
.rightSidePart { width: calc(100% - 240px); float: left; box-shadow: 15px 5px 15px #e9e9e9; padding: 15px; border: 1px solid #dedede; position: relative; min-height: 350px; z-index: 10; }
/***********My Account part *************/

.upgradeDiv { padding: 10px; border: 1px solid #ccc; }
.upgradeDiv h2 { margin: 0 0 10px; font-size: 19px; font-weight: 600; color: #f06c49; }

.feedbackTable { width: 100%; }
.feedbackTable label { font-weight: normal; font-size: 15px; }
.feedbackTable td { width: 50%; vertical-align: top; }
.feedbackTable textarea { width: 100%; border: 1px solid #bbb; border-radius: 3px; min-height: 80px; }
.example-txt { color: #999; font-size: 13px; display: block; }


.modal-dialog.startTour { max-width: 650px; }
.modal-dialog.startTour .modal-content { background: #fff !important; border-color: #fff; text-align: center; min-height: 370px; }
.modal-dialog.startTour .modal-content h1 { color: #585858; font: 600 26px Open Sans; margin-top: 5%; }
.modal-dialog.startTour .modal-content p { font: normal 16px Open Sans; color: #666666; }
.modal-dialog.startTour .modal-content .startBtn button, .modal-dialog.startTour .modal-content .startBtn button:hover, .modal-dialog.startTour .modal-content .startBtn button:focus { text-align: center; margin-top: 20px; background: #ef6c49; color: #fff; font: 700 24px Open Sans; border: none !important; border-radius: 4px; padding: 10px 15px; display: inline-block; }

.modal-dialog.startTour .modal-content a { color: #61b9ca; text-decoration: underline; }
.modal-dialog.startTour .modal-content a:hover { color: #ef6c49; }
.popover-navigation { white-space: nowrap; }
.popover-navigation button.prevBtn, .popover-navigation button.prevBtn:focus { background: #62bacb; color: #fff; border: none !important; float: left; display: inline-block; text-align: center; border-radius: 4px 0px 0px 4px; padding: 5px 10px; font: 600 14px Open Sans; }
.popover-navigation button.nextBtn, .popover-navigation button.nextBtn:focus { background: #e66745; color: #fff; border: none !important; display: inline-block; text-align: center; border-radius: 0px 4px 4px 0px; padding: 5px 10px; font: 600 14px Open Sans; float: left; }
#main.mainBg.tourStart { padding-top: 10px !important; }
button.endBtn, button.endBtn:focus { background: #fff; color: #62bacb; border: 1px solid #ccc !important; /*float:right;*/ margin-right: 0px; display: inline-block; text-align: center; border-radius: 4px; padding: 5px 10px; font: 600 14px Open Sans; }
.tour-step-background { border-radius: 0 !important; }
.contactForm { max-width: 500px; margin: 0 auto; padding: 20px 20px 15px; width: 100%; background: #f8f8f8; border: 1px solid rgba(0, 0, 0, .1); }
.contactForm table, .contactForm input { width: 100%; }
.contactForm input, .contactForm textarea { width: 100%; margin-bottom: 10px; border: 1px solid #dedede; border-radius: 3px; height: 44px; color: #333; font-size: 15px; padding: 0px 15px; line-height: 44px; }
.contactForm input:focus, .contactForm textarea:focus { border-color: rgba(0, 0, 0, .5); box-shadow: 0px 0px 10px rgba(0, 0, 0, .3); }
.contactForm textarea { margin-bottom: 0px; }
.fiedlName { position: relative; }
.contact_h3 { text-align: center; font-size: 21px; font-style: italic; line-height: 30px; margin: 10px; }
.popover { max-width: 600px !important; min-width: 300px !important; width: 100%; }
.modal { z-index: 1150 !important; }
.deadLine { border: 1px solid #ef6c49; border-radius: 4px; padding: 10px; background: #fff1ed; }
.deadLine h2 { margin: 0 0 10px 0; text-align: center; font-size: 18px; font-weight: bold; color: #ef6c49; }
.deadLine p { margin: 0; text-align: center; color: #757575; margin-top: 6px; }

.divBox { border: 1px solid #e1e1e1; position: relative; float: left; width: 100%; padding: 15px; margin-right: 20px; margin-bottom: 0px; border-radius: 4px; box-shadow: 1px 1px 15px #eaeaea; }
.head_h3 { margin: 0 0 10px; font-weight: 700; font-size: 20px; color: #ef6c49; }
.radioSelect { margin-left: 10px; }
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd { background: transparent !important; }

.notify { border: 3px solid #000; font: bold 1.5em Open Sans; text-align: center; padding: 10px 20px; max-width: 900px; margin: 10px auto; color: #000; }
.notify span { color: #ee6c4b; }


/************* form 941 ***********/
.form941 { /*border: 1px solid #000; padding: 35px;*/ float: left; width: 100%; color: #000; }
.form941Head .topLeft941 { margin: 0; padding: 0; font-size: 23px; font-weight: 700; float: left; }
.form941Head .topLeft941 span { font-weight: normal; font-size: 14px; }
.form941Head .topLeft941 text { font-weight: 800; font-size: 34px; line-height: 20px; }
.table941Top { width: 100%; }
.table941Top td { line-height: 0px; }
.topRight941 { float: right; text-align: right; margin-top: 10px; }
.table941Top tr td:first-child { width: 265px; }
.table941Top span { font-weight: 600 !important; }

.empDetails941 { border: 1px solid #000; padding: 15px; }
.QDetails941 { }
.empFlex941 { display: flex; margin-bottom: 15px; }
.empPinFlex941 { display: flex; }
.empFlex941 label { white-space: nowrap; margin: 0; margin-top: 5px; vertical-align: middle; font-weight: normal; }
.einTbox { width: 100%; display: flex; }
.einTbox input[type="text"] { margin-left: 21px; max-width: 40px; border-color: #000; text-align: center; border-radius: 0; }
.einSep { font-size: 30px; line-height: 16px; width: 27px; text-align: right; font-weight: normal !important; }
.empTbox { width: 100%; margin-left: 15px; }
.empTbox input[type="text"], .empTbox select { width: 100%; border-color: #000; border-radius: 0; }
.einTbox input[type="text"]:hover, .empTbox input[type="text"]:hover, .partTable941 input[type=text]:hover, .empTbox select:hover { box-shadow: 1px 1px 10px #ccc; }
.table941 { width: 100%; }
.empAddFlex { display: flex; }
.empAddFlex p { margin-bottom: 0; }
.designeeflex941 { display: flex; }
.addBox { margin-right: 10px; }
.addBox:first-child { min-width: 230px; }
.addBox:last-child { min-width: 250px; margin-right: 0px; }
.addBox1 { margin-right: 10px; width: 100%; }
.addBox1:first-child { min-width: 300px; }
.addBox1:last-child { min-width: 230px; margin-right: 0px; }

.QDetails941 { padding: 15px; border: 1px solid #000; background: #f2f2f2; box-shadow: 10px 10px 0 #ccc; }
.QDetails941 h2 { color: #fff; background: #000; padding: 10px; margin: 0; font-size: 19px; font-weight: bold; }
.QDetails941 span { display: block; font-size: 16px; margin-top: 5px; }
.signleQ { margin-top: 12px; }
.signleQ label { font-size: 16px; font-weight: normal; padding-left: 30px; color: #000; }

.partTitle { border: 1px solid #000; border-right: none; margin: 0; font-size: 17px; font-weight: 700; padding: 6px 0; background: #fff; }
.partTitle span { background: #000; color: #fff; padding: 4px 10px; border: none; margin-right: 14px; font-size: 19px; }
.partTable941 { background: #f2f2f2; width: 100%; }
.partTable941 input[type=text] { border-color: #000; border-radius: 0; }
.partTable941 td { padding: 7px 5px; }
.partTable941 td label { font-size: 15px; line-height: 20px; font-weight: 700; margin-bottom: 0; }
.partTable941 td label span { font-weight: normal; }
.sNubmerTd { width: 50px; text-align: center; }
.dotBg { background: url('Images/dot.png') repeat-x center; background-size: 20px; }
.dotBg label { background: #f2f2f2; padding-right: 5px; }
.lastTd941part { min-width: 220px; width: 220px; }
.calc941 { font-weight: 600; min-width: 100px; text-align: center; }
.check941 { font-weight: 600; min-width: 100px; text-align: center; }
.footpart941 { width: 100%; }
.footpart941 span { font-weight: 600; font-size: 15px; }
.borTBlack { border-top: 1px solid #000; }
.borRBlack { border-right: 1px solid #000; }
.subTable td { padding: 4px 5px; }
.pinTbox { width: 100%; display: flex; }
.pinTbox input[type="text"] { margin-left: 10px; max-width: 40px; border-color: #000; text-align: center; border-radius: 0; }
.pinTbox input[type="text"]:hover, .empTbox input[type="text"]:hover, .partTable941 input[type=text]:hover { box-shadow: 1px 1px 10px #ccc; }
/*.sign941 { display: flex; }*/
.sign941 h2 { margin: 5px 0 0; font-size: 22px; font-weight: 700; padding: 0 20px 0 0; vertical-align: middle; }
.sign941 textarea { height: 90px; width: 350px; border-color: #000; }
.doller_input input[type="text"] { background-image: url('Images/dollar_sign.png') !important; background-size: 13px !important; padding: 5px 0 5px 25px !important; background-position: 6px 9px !important; background-repeat: no-repeat !important; }
.taR_input input[type="text"] { text-align: right; padding-right: 10px !important; font-weight: 600; font-size: 13.5px; }

.taR_input input[type="text"]::placeholder { text-align: right; }
.formTitle { margin: 0 0 10px 0; font-size: 18px; font-weight: 600; color: #333; position: relative; padding: 0 0 8px; border-bottom: 1px solid #000; }
.formTitle text { background: #000; padding: 5px 15px; color: #fff; }
.applyRtn { display: inline-block; text-align: left; }
.applyRtn label { margin-left: 15px; }

.payerInfo h3 { margin: 0; font-size: 18px; font-weight: 700; color: #ef6c49; }
.payerInfo span { display: block; font-weight: 600; color: #333; }
.Formvalue {text-align:center; width: 70px; height: 70px; border: 2px solid #d8d8d8; display: inline-block; border-radius: 50px; font-weight: 700; font-size: 25px; color: #ef6c49; padding-top: 13px; }

.payerSelect { position: relative; }
.nameSelect { min-height:45px; cursor: pointer; width: 400px; border: 1px solid #ccc; padding: 5px 25px 1px 45px; box-shadow: 1px 1px 3px #e6e6e6 inset; background: url(../Content/Images/searchIcon.png) no-repeat left 10px center, url(../Content/Images/tooltipDropdown.png) no-repeat right 10px center; }
.nameSelect h2 {line-height: 19px; margin: 0; font-size: 15px; font-weight: 700; color: #e66745; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.nameSelect span { color: #757575; font-size: 13px; }

.nameList {border-radius:0; width: 400px; border: 1px solid #b6b6b6; padding: 10px; box-shadow: 0px 2px 6px #e0dddd; position: absolute; top: 43px; background: #fff; }
.listOne { padding: 4px; border-bottom: 1px solid #e6e6e6; cursor:pointer }
.listOne h2 { line-height: 19px;margin: 0; font-size: 14px; font-weight: 700; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.listOne span { color: #9f9f9f; font-size: 13px; }
.listOne:hover h2{ color: #e66745;}
.listOne:hover {background:#f6f6f6}
.inSearch{background: url(../Content/Images/searchIcon.png) no-repeat right 10px center;
border: 1px solid #ccc;
padding: 5px 35px 5px 5px;
background-size: 17px;
width: 100%;
margin-bottom: 10px;
box-shadow: 1px 1px 3px #e6e6e6 inset;
}