/* CSS Document */

html {
	overflow-y: scroll;
}

body, #wrapper {
	margin:0px auto;
	padding:0;
	height:100%;
}

a{outline:none}

.header {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #333;
	padding: 20px 0;
}
.header A:link {color:#333; text-decoration:none;}
.header A:visited {color:#333; text-decoration:none;}
.header A:hover {color:#333; text-decoration:none;}
.header A:active {
	color:#FFF;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
}
#header .logo img {
	max-width: 340px;
	width: 100%;
}

.header h3 {
	color: white;
	display: inline-block;
	text-align: left;
	font-weight: normal;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
    position: relative;
    top: -15px;
    margin: 0;
}

.header .year {
	font-family: 'Roboto Slab', serif;
}

.header-cal {
	max-width: 55px;
	margin-right: 10px;
}


}

.pd10 { padding:10px; }

.body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #333333;
	

}
.body A:link { color: #0000FF; text-decoration:none; }
.body A:visited { color: #0000FF; text-decoration:none; }
.body A:hover { color: #0000FF; text-decoration:underline; }
.body A:active { color: #0000FF; text-decoration:none; }

.navbar {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #003366;
	text-decoration: none;
}

.navbar A:link {color:#FFF; text-decoration:none;}
.navbar A:visited { color: #FFF; text-decoration:none; }
.navbar A:hover { color: #FFF; text-decoration:nonee; }
.navbar A:active { color: #FFF; text-decoration:none; }

.title { font-size: 15px; color:#333333; font-family: 'Roboto', sans-serif;, sans-serif; font-weight:bold; }
.title A:link { color:#333333; text-decoration:none; }
.title A:visited { color:#333333; text-decoration:none; }
.title A:hover { color:#333333; text-decoration:underline; }
.title A:active { color:#333333; text-decoration:none; }

.fine {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.fine A:link {
	color: #FFFFFF;
	text-decoration: none;
}
.fine A:visited { color:#FFFFFF; text-decoration:none; }
.fine A:hover { color:#FFFFFF; text-decoration:underline; }
.fine A:active { color:#FFFFFF; text-decoration:none; }

.footer {
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#999;
	text-align:center;
	padding:5px 0px;
	padding-top: 20px;
}
.footer-contact {
	text-align: left;
    padding-top: 5px;
    padding-bottom: 15px;
}

.footer-contact h3 {
	color: white;
	font-weight: normal;
}

.footer-contact p {
	color: white;
	font-weight: normal;
}


.footer A:link {color:#666666; text-decoration:none;}
.footer A:visited {color:#666666; text-decoration:none;}
.footer A:hover {color:#666666; text-decoration:underline;}
.footer A:active {color:#666666; text-decoration:none;}

.clear {clear:both;}

.nav {
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#333;
	text-align:center;
	background-image: url(images/navbar.png);
	height: 36px;
	width: 948px;
	background-repeat: no-repeat;
}
.nav A:link {color:#000; text-decoration:none;}
.nav A:visited {color:#000; text-decoration:none;}
.nav A:hover {color:#000; text-decoration:none;}
.nav A:active {color:#000; text-decoration:none;}

#topmenu { 
	float:left;
	width:100%
	overflow:hidden;
	position:relative;
}
#topmenu ul {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}

#topmenu ul li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
}

#topmenu li a {
	color:#9199a7;
	text-decoration:none;
	display:block;
	padding:0px 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#topmenu li a span {
	cursor:pointer;
	padding: 10px 20px;
	
}
#checkdes {
	background-image:url(images/tblback.jpg);
	background-repeat: no-repeat;
	width: 521px;
	height: 229px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-size: 14px;
	
}
.headingchecks {
	font-size: 18px;
	color: #1a5d8a;
}
#smlheadings {
	font-size: 16px;
	color: #1a5d8a;
}
#smlprice {
	font-size: 14px;
}
#signup {
	font-size: 16px;
	color: #0866A6;
}
.reminder {
	padding-left: 10px;
}
#videodes {
	background-image:url(images/tblback-2.jpg);
	background-repeat: no-repeat;
	width: 332px;
	height: 229px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-size: 14px;
	
}
#howitworksbottom {
	background-image: url(images/howitworksbottom.png);
	width: 948px;
	height: 94px;
	background-repeat: no-repeat;
	
}
#stepstext {
	color: #394d67;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

#smallparagraph {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
	
   #footermiddle {
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background-image: url(images/footermiddle.png);
	background-repeat: no-repeat;
}.smallpara {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	
}

#prepareheadingbox {
	padding-left: 5px;
	height: 60px;
}
.headerimgsubpage {
	background-image: url(images/headerimgsub.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 93px;
	
}
.darklarge {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	color: 333;
}
.lightlarge {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	color: #666;
}
.bluelarge {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #1a5d8a;
}
.bluelarge3 {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #1a5d8a;
}
.headerimgcontact {
	background-image: url(images/contactimg.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.headerimgprocessing {
	background-image: url(images/largeprocessingimg.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.headerimgstatefiling {
	background-image: url(images/statefilingheader.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.headerimgtinmatch {
	background-image: url(images/tinmatching.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.headerimgsecure {
	background-image: url(images/secure-banner.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.headerpdf {
	background-image: url(images/save_as_pdf.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.headerqbplugin {
	background-image: url(images/qbpluginheader.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.headerimg1099forms {
	background-image: url(images/1099formsheader.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.headerimgpastyear {
	background-image: url(images/pastyear.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.headerimgcorrections {
	background-image: url(images/filecorrections.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}

.headerimgchecks {
	background-image: url(images/check-header.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.headerimgw9 {
	background-image: url(images/w9solicitation.jpg);
	background-repeat: no-repeat;
	width: 989px;
	height: 150px;
	
}
.pricing {
	color: #900;
	font-size: 17px;
	font-weight: bold;
}
.headingblue {
	color: #1a5d8a;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.headingblue2 {
	color: #1a5d8a;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.newnav {
	height: 47px;
    box-shadow: 0 3px 18px 0px rgba(0,0,0,0.37);
    z-index: 100;
    background: white;
	width: 100%;
	padding-top: 20px;
	margin-bottom: 45px;
}
#clear {
	height: 15px;
	width: 989px;
}
.livechat {
	width: 220px;
	text-align: right;
	padding-bottom: 15px;
}
.compare-backer {
	width: 989px;
	height: 330px;
	background-image: url(images/compare-backer.gif);
	padding-left: 10px;
	background-repeat: no-repeat;
	padding-top: 10px;
}
.compare-backer2 {
	width: 989px;
	
	background-image: url(images/compare-backer-2.gif);
	padding-left: 10px;
	background-repeat: no-repeat;
}
.toptable-text {
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
}
.toptable {
	background-image: url(images/top-table-full.gif);
	height: 50px;
	background-repeat: no-repeat;
	width: 881px;
	padding-top: 5px;
}
.checkout-heading {
	background-color: #F3F3F3;
	padding-left: 10px;

}
#header {
	background-color: #25a9bd;
	width: 100%;
}
.newfootertext-bold {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.footertext-grey {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
}
#mainformmenu {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #666;
}
#element_to_pop_up { display:none; }

#mainpageimg h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
	font-size: 40px;
	line-height: 44px;
	color: white;
}

#mainpageimg h3 {
	color: white;
	font-family: 'Roboto Slab', serif;
	font-size: 26px;
	font-weight: normal;
}

#mainpageimg h4 {
	color: white;
	font-family: 'Roboto', san-serif;
	font-style: italic;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
}

#mainpageimg a {
    display: inline-block;
    color: white;
    position: relative;
    outline: 0;
    zoom: 1;
    border: 1px solid transparent;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: #25a9bd;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 17px 40px;
    line-height: 21px;
    font-size: 18px;
    width: 100%;
    max-width: 240px;
    white-space: nowrap;
}

#mainpageimg a:hover {
	background: #ff8d61;
}

.continue-btn,
.update-btn,
.login-btn {
	-webkit-appearance: none;
    background-color: #24a9bd;
    border-style: none;
    padding: 20px 30px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.login-btn {
	margin-bottom: 20px;
	width: 100%;
}

label {
	font-size: 17px;
    margin-bottom: 15px;
    display: block;
    text-align: left;
}